{% render 'views/head.liquid' %}
{% render 'views/nav.liquid' %} 
<main class="container">

<a class="link-to-chat" href="#chatSection"><img class="link-chat-img" src="/assets/chat-icon.svg" width="40" height="40" alt="navigeer naar chat"></a>

<section class="intro-text-container">
    <div class="text-section">
        <h1>De mensen van Q42</h1>
        <p>Onze mensen noemen we Q'ers. Maar wie zijn dat dan? Die Q'ers die het internet aan het afmaken zijn? Check ze allemaal hieronder. En wil je ook Q'er worden, scroll dan even voorbij onze hoofden voor de openstaande vacatures!</p>
    </div>
</section>

{% if qers %}
    <section id="section-img-scroll" class="images-container">
        {% comment %} Filter {% endcomment %}
        <form class="filter-images" action="/" method="GET">
            <h3>Filter op interesses</h3>
            {% assign allTags = "Front-end,Harry Potter fan,Partner van de club,Short hair,don't care" | split: "," %}
            {% for tag in allTags %}
            <label class="filter">
                <input class="filter-box" type="checkbox" name="categorie" value="{{ tag }}"{% if tags contains tag %}checked{% endif %}>{{ tag }}
            </label>
            {% endfor %}
            <button class="main-btn opslaan-btn" type="submit">Opslaan</button>
        </form>

        {% comment %} Personen {% endcomment %}
        <ul class="people-container">
            {% for qer in qers %}
            <li class="person">
                <picture> {% comment %} Geeft van 1 afbeelding meerdere formaten mee zodat de browsers kunnen kiezen {% endcomment %}
                    <source type="image/avif" srcset="{{ qer.avatars | first }}"> {% comment %} Als de browser AVIF ondersteund, wordt deze afbeelding gebruikt  {% endcomment %}
                    <source type="image/webp" srcset="{{ qer.avatars | first }}"> {% comment %} Als de browser webp ondersteund, wordt deze afbeelding gebruikt  {% endcomment %}
                    <img class="person-img" src="{{ qer.avatars | first }}" width="350" height="350" alt="profielfoto van" loading="lazy"> {% comment %} Als de bovenstaande opties niet worden gesupport, wordt deze gebruikt als '' {% endcomment %}
                </picture>
                {% comment %} <img class="person-img" src="{{ qer.avatars | first }}" alt="{{ qer.name }}" width="350"> {% endcomment %}
                <p class="person-name">{{ qer.name }}</p>
                <a class="person-email" href="{{ qer.email }}">{{ qer.email }}</a>
            </li>
            {% endfor %}
        </ul>
  </section>
{% else %}
<section class="no-images-found-container">
    <div class="no-images-found">
        <h3 class="titel-no-images-found">Oeps!</h3>
        <p class="text-no-images-found">We konden de foto's, namen en e-mailadressen even niet ophalen. Geef ons een momentje of probeer de pagina te vernieuwen.</p>
    </div>
</section>
{% endif %}

{% render 'views/work-offers.liquid' %}

<section class="vragen-text-container">
    <div class="text-section">
        <h2>Vraag het team</h2>
        <p>Heb je een vraag voor het team? Bekijk de vragen hieronder of stel zelf je vraag en krijg antwoord van Q’ers</p>
    </div>
</section>

{% render 'views/chat.liquid', 
chats: chats %}
</main>

{% render 'views/foot.liquid' %}
